* {
    box-sizing: border-box;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    color: white;
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

a {
    transition: background-color 0.5s;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.main-nav li {
    padding: 0 1%;
}


.main-header {
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .3);
    background-size: cover;

    /* Parallax Scrolling */
    background-image: url("images/headerbackground.jpg");
    height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5;
}

.page-name {
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10em;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.page-name-large {
    font-size: 3em;
}

.row-highlight {
    background-color: #8595AE;
}

.container {
    color: gray;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-decoration: underline;
    font-size: 2em;
    font-weight: normal;
    text-align: left;
}

.main-header table {
    border-collapse: collapse;
}

.content-section {
    margin: 1em;
}

.content-section th {
    background-color: #30406C;
    border: 1px solid black;
    color: white;
    font-weight: bolder;
    text-align: left;
}

table {
    border-collapse: collapse;
    border: 3px solid black;
}

th,
td {
    padding: 10px;
}

.content-section td {
    color: black;
    font-weight: bold;
    text-align: left;
}

tr {
    border: solid;
    border-width: 2px 0;
}

.content-section a:link {
    color: blue;
    font-size: 1.2em;
    font-weight: bold;
}

.content-section a:visited {
    color: grey;
    font-weight: normal;
}

.content-section a:hover {
    color: red;
    font-weight: bolder;
}

.time, .param {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
    background-color: #888888;
    border-radius: 2px;
    text-align: center;
}

#footer-text {
    color: white;
}

.main-footer {
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .1);
    background-image: url("images/footerbackground.jpg");
    background-size: cover;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;

    /* Parallax Scrolling */
    height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hints */
.hint {
    position: relative;
    display: inline-block;
    border-bottom: 2px dashed rgb(161, 161, 161);
}

.hint .hint-popup {
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0%;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the hint */
    position: absolute;
    z-index: 1;

    bottom: 105%;
    /* width: 100%; */
    left: 50%;
    margin-left: -140%;
    /* right: 105%; */

    width: 120px;
    /* margin-left: -60px; */
}

.hint:hover {
    color: white;
    background-color: #cccccc;
}

.hint:hover .hint-popup {
    visibility: visible;
    opacity: 100%;
}

.hint-popup {
    border: 3px dashed #cccccc;
}

b {
    color: white;
    font-size: large;
    font-weight: bold;
}

.showhidebutton {
    font-size: large;

    border: 5px solid rgb(65, 87, 146);
    /* border-radius: 7px; */
    background: #30406C;
    color: white;

    padding: 5px;
    margin-bottom: 10px;
    /* margin: auto; */
}

.instructions {
    background-color: rgb(212, 224, 255);
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid rgb(157, 183, 255);
    /* border-radius: 10px; */
}

del {
    color: #cccccc;
    background-color: white;
}

.example-image {
    border: 4px solid rgb(157, 183, 255);
}

.good {
    font-weight: bold;
    color: rgb(147, 216, 44);
}

/* Image display for captures.html */
#display {
    width: 250px;
    /* width: 30%; */
    /* height: 100%; */
}

#filters {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;

    border: lightskyblue 2px solid;
    border-radius: 5px;
    
    background-color: lightblue;

    /* width: 50%; */
    text-align: center;
}

#filters button {
    height: 25px;
    text-align: center;
    /* width: 350px; */
    width: 95%;
    margin: 2px;

    margin-left: 0px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 164, 17);

    transition: background-color 0.2s;

    border: 1px solid black;
    border-radius: 5px;
}

#filters button:hover{
    background-color: rgb(255, 192, 89);
}

#description button {
    height: 25px;
    text-align: center;
    /* width: 350px; */
    width: 95%;
    margin: 2px;

    margin-left: 0px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(53, 255, 17);

    transition: background-color 0.2s;

    border: 1px solid black;
    border-radius: 5px;
}

#description button:hover{
    background-color: rgb(183, 255, 89);
}

#filter-select{
    border: #aaaaaa 2px solid;
    border-radius: 5px;

    padding: 10px;
    
    /* width: 40%; */
    
    text-align: center;
}

#info-display{
    border: #aaaaaa 2px solid;
    border-radius: 5px;
    
    padding: 10px;
    
    text-align: center;
    /* position: relative;
    right: 20px; */
}

#image-display{
    /* border: #aaaaaa 2px solid; */
    border-radius: 5px;
    
    padding: 10px;
    
    text-align: center;
    /* position: relative;
    right: 20px; */
}

#description{
    border: lightskyblue 2px solid;
    border-radius: 5px;
    
    background-color: lightblue;
    
    /* width: 70%; */
    padding: 10px;
    
    text-align: left;
    word-wrap: break-word;
}

#main-stuff{
    column-count: 3;
    column-gap: 10px;
    /* height: 1000px; */
    /* height: 2000%; */
}