@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100&&family=Roboto');

* {
    box-sizing: border-box;
    color: black;
    /* font-family: 'Raleway', normal; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}
.nav a {
    color: white;
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

a{
    transition: background-color 0.5s;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.main-nav li {
    padding: 0 5%;
}

/* body, html {
    height: 100%;
} */

.main-header {
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .3);
    background-size: cover;
    padding-bottom: 30px;
    
    /* Parallax Scrolling */
    background-image: url("images/header-nz.jpg");
    height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

.page-name {
    color: white;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    font-size: 10em;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.page-name-large {
    font-size: 4em;
}

.row-highlight {
    /* background-color: #00E000; */
    background-color: #8595AE;
}

.container {
    color: gray;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1.5em;
}

.section-header {
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color: black;
    font-family: "Roberto"; */
    font-style: oblique;
    text-decoration: underline;
    font-size: 2.5em;
    font-weight: normal;
    text-align: left;
}

.main-header table {
    border-collapse: collapse;
}

.content-section {
    margin: 1em;
}

.content-section th {
    background-color: #30406C;
    border: 1px solid black;
    color: white;
    font-weight: bolder;
    text-align: left;
}

.content-section td {
      border: 1px solid black;
      color: black;
      font-weight: bold;
      text-align: left;
}

.content-section a:link {
  color: blue;
  font-size: 1.2em;
  font-weight: bold;
}

.content-section a:visited {
  color: grey;
  font-weight: normal;
}

.content-section a:hover {
  color: red;
  font-weight: bolder;
}

.time{
    color: #ffffff;
    background-color: #888888;
    font-family: 'Courier New', Courier, monospace
}

#footer-text{
    color: #ffffff;
}

.main-footer {
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .1);
    background-image: url("images/footerbackground.jpg");
    background-size: cover;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;

    /* Parallax Scrolling */
    height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Hints */
.hint {
    position: relative;
    display: inline-block;
    border-bottom: 2px dashed rgb(161, 161, 161);
}

.hint .hint-popup {
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0%;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the hint */
    position: absolute;
    z-index: 1;

    bottom: 105%;
    /* width: 100%; */
    left: 50%;
    margin-left: -140%;
    /* right: 105%; */

    width: 120px;
    /* margin-left: -60px; */
}

.hint:hover {
    color: #ffffff;
    background-color: #cccccc;
}

.hint:hover .hint-popup {
    visibility: visible;
    opacity: 100%;
}

.hint-popup{
    border: 2px dotted #cccccc;
}

b {
    color: #ffffff;
    font-size: large;
    font-weight: bold;
}